<ul class="links">
	<li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
	<li class="{% if page.url contains '/pages/blog/' %} active {% endif %}"><a href="{{ "/pages/blog/" | absolute_url }}">Blog</a></li>
	<li class="{% if page.url contains '/pages/calendar/' %} active {% endif %}"><a href="{{ "/pages/calendar/" | absolute_url }}">Calendar</a></li>

  <li class="dropbtn {% if page.url contains '/pages/about/' %} active {% endif %}">
    <div class="dropdown">
      <a>About</a>
      <div class="dropdown-content">
        <a href="{{ "/pages/about/philosophy/" | absolute_url }}">Philosophy</a>
        <a href="{{ "/pages/about/objectives/" | absolute_url }}">Objectives</a>
        <a href="{{ "/pages/about/bylaws/" | absolute_url }}">Bylaws</a>
      </div>
    </div>
  </li>

  <li class="dropbtn {% if page.url contains '/pages/members/' %} active {% endif %}">
    <div class="dropdown">
      <a>Members</a>
      <div class="dropdown-content">
        <a href="{{ "/pages/members/join/" | absolute_url }}">Join</a>
        <a href="{{ "/pages/members/search" | absolute_url }}">Member&nbsp;Search</a>
        <a href="{{ "/pages/members/officers" | absolute_url }}">Officers</a>
        <a href="{{ "/pages/members/past_officers" | absolute_url }}">Past&nbsp;Officers</a>
        <a href="{{ "/pages/members/financial_disclosure" | absolute_url }}">Financial&nbsp;Disclosure</a>
        <a href="{{ "/pages/members/ledger" | absolute_url }}">Ledger</a>
        <a href="{{ "/pages/members/donations" | absolute_url }}">Donations</a>
        <a href="{{ "/pages/members/reimbursement_form.txt" | absolute_url }}">Reimbursement Form</a>
      </div>
    </div>
  </li>

  <li class="dropbtn {% if page.url contains '/pages/documents/' %} active {% endif %}">
    <div class="dropdown">
      <a>Documents</a>
      <div class="dropdown-content">
        <a href="{{ "/pages/documents/advocacy/" | absolute_url }}">Advocacy</a>
        <a href="{{ "/pages/documents/club/" | absolute_url }}">Club&nbsp;Documents</a>
        <a href="{{ "/pages/documents/chat/" | absolute_url }}">Chat&nbsp;(IRC)</a>
        <a href="{{ "/pages/documents/mailing_lists/" | absolute_url }}">Mailing&nbsp;Lists</a>
        <a href="{{ "/pages/documents/social/" | absolute_url }}">Social&nbsp;Networks</a>
      </div>
    </div>
  </li>

  <li class="dropbtn {% if page.url contains '/pages/archive/' %} active {% endif %}">
    <div class="dropdown">
      <a>Archive</a>
      <div class="dropdown-content">
        <a href="{{ "/pages/archive/old_site/" | absolute_url }}">Old&nbsp;Site</a>
        <a href="{{ "/pages/archive/history/" | absolute_url }}">History</a>
        <a href="{{ "/pages/archive/media/" | absolute_url }}">Media</a>
        <a href="{{ "/pages/archive/letters/" | absolute_url }}">Letters</a>
        <a href="{{ "/pages/archive/fun_stuff/" | absolute_url }}">Fun&nbsp;Stuff</a>
      </div>
    </div>
  </li>
</ul>
<ul class="icons">
<!--	 <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li> -->
<!--	 <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li> -->
<!--	 <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li> -->
	<li><a href="https://webchat.freenode.net/?channels=#{{site.freenode}}" class="icon fa-comments" rel="nofollow"><span class="label">IRC</span></a></li>
	<li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>